version: "3.9"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"


  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # INTERNAL listeners (between containers)
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092

      # EXTERNAL / ADVERTISED listeners
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1


  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: payments_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  payments-api:
    build:
      context: ./services/payments-api
      dockerfile: Dockerfile
    depends_on:
      - kafka
      - postgres
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/payments_db
      KAFKA_BOOTSTRAP_SERVER: kafka:9092


  payments-processor:
    build:
      context: ./services/payments-processor
      dockerfile: Dockerfile
    depends_on:
      - kafka
      - postgres
    restart: on-failure
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/payments_db
      KAFKA_BOOTSTRAP_SERVER: kafka:9092

volumes:
  postgres-data:
